name: Create Archive
on:
  push:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: thedoctor0/zip-release@0.7.0
      with:
        type: 'zip'
        filename: 'release.zip'
        exclusions: '*.git*'
  tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: Klemensas/action-autotag@stable
      with:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        tag_prefix: "v"
        package_root: "/"
    needs: build
