name: Create Release
on:
  push:
    tags:
    - '**'

jobs:
  Archive:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.0
      with:
        type: 'zip'
        filename: 'release.zip'
        exclusions: '*.git* /github .editorconfig'
  Release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@master
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "release.zip"
    needs: Archive
